.day-night-toggle {
    height: 100%;
    cursor: pointer;
    color: white;
    margin: 15px;

    //display: inline-block;

    .day-icon {
        height: 20px;
        width: 20px;
    }

    .night-icon {
        height: 20px;
        width: 20px;
    }
}