.popup{
    border-radius: 15px;
}

.popUpTitle{
    text-align: center;
    size: 50px;
}

.laptop {
    overflow: visible !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jedi {
    overflow: visible !important;
}

.popUp-text{
    padding: 40px;
}