.subheader{
    //overflow: hidden;
    

    .column-ticker {
        margin: 5px;
        flex-wrap: wrap;
        width: 80%;
    }
    // .column {
    //     float: left;
    //     width: 10%;
    //     position: relative;
    //   }

    .night-day {
        position: absolute;
        padding-top:50px;
        margin-left: 55%;
    }

    .metric-selector {
        position: absolute;
        padding-top:60px;
        margin-left: 80%;

    }
}

.nightMode {
    background-image: linear-gradient(to bottom, #050e11 20%, #009cd9 52%)
}