.controller-icon {
    width: 25vw;
    height: 100%;
    position: relative;
    align-items: flex-end;
    justify-content: right;
    cursor: pointer;
    color: white;
    float: right;

    .metricsIcon {
        height: 100%;
        width: 100%;
    }
}